---
import Newsletter from '@/components/Newsletter.astro';
import Layout from '@/layouts/Layout.astro';
import Button from '@/components/Button.astro'

// Import all posts using import.meta.glob with eager loading
const allPosts = Object.values(
  import.meta.glob('./**/*.mdx', { eager: true })
);

console.log('All posts:', allPosts);

// Ensure all posts have valid frontmatter and sort by pubDate
const sortedRecentPosts = allPosts
    .filter((post) => post.frontmatter && post.frontmatter.pubDate) // Exclude invalid posts
    .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())



// Group posts by year
const postsByYear = sortedRecentPosts.reduce((acc, post) => {
  const year = new Date(post.frontmatter.pubDate).getFullYear();
  if (!acc[year]) acc[year] = [];
  acc[year].push(post);
  return acc;
}, {});

// Get sorted years
const sortedYears = Object.keys(postsByYear).sort((a, b) => Number(b) - Number(a));

// Debugging logs
console.log('Sorted posts:', sortedRecentPosts);


---

<Layout title="Work Experience">
  <div class="space-y-6">
    <div class="py-6">
      <h2 class="text-4xl font-semibold">Previous Work Experiences</h2>
      <p class="space-y-8 pt-8">Click into each section to read what I did. You can look for the specific findings and
        outcomes of each experience, as well as my personal takeaways and learning journey.</p>
    </div>

    <ol class="relative border-l border-gray-200 dark:border-gray-700">
      {sortedYears.map((year) => (
        <li class="mb-10 ml-4" key={year}>
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <h3 class="mb-4 text-lg font-bold text-gray-900 dark:text-white">{year}</h3>
          {postsByYear[year].map((post) => (
            <Button post = {post}/>
          ))}
        </li>
      ))}
    </ol>
  </div>
</Layout>
