---
  import BlogPostPreview from '@/components/BlogPostPreview.astro';
  import Layout from '@/layouts/Layout.astro';

  const allPosts = Object.values(
    import.meta.glob('./**/*.mdx', { eager: true })
  );

  const sortedRecentPosts = allPosts
    .filter((post) => post.frontmatter && post.frontmatter.pubDate)
    .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())

  const postsByYear = sortedRecentPosts.reduce((acc, post) => {
    const year = new Date(post.frontmatter.pubDate).getFullYear();
    if (!acc[year]) acc[year] = [];
      acc[year].push(post);
    return acc;
    }, {} as Record<number, any[]>);

  const sortedYears = Object.keys(postsByYear).sort((a,b) => Number(b) - Number(a));
---

<Layout title="Projects">
  <div class="space-y-12">
    <h1 class="text-4xl font-semibold tracking-tight">Projects</h1>
    <div class="space-y-10">
      {sortedYears.map((year) => (
        <div>
          <h3 class="text-sm font-medium uppercase tracking-widest text-gray-400 dark:text-gray-500 mb-2">{year}</h3>
          <div class="space-y-1">
            {postsByYear[year].map((post) => (
              <BlogPostPreview post={post} />
            ))}
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>
