---
  import BlogPostPreview from '@/components/BlogPostPreview.astro';
  import Email from '@/components/icons/Email.astro';
  import GitHub from '@/components/icons/GitHub.astro';
  import Twitter from '@/components/icons/Twitter.astro';
  import { EMAIL, HANDLE_GITHUB, HANDLE_TWITTER } from '@/constants';
  import Layout from '@/layouts/Layout.astro';

---

<Layout>
  <div class="space-y-6">
    <h1 class="text-3xl font-bold md:text-5xl">School? 🤔</h1>
    <h2 class="text-lg">Here's a list of schools/progams I attended.</h2>
    <div class="flex space-x-3">
    </div>
    <div>
      <h1 class="text-3x1 font-bold md:text-5x1"> Imperial College London </h1>
      <p>2021 - 2022</p>
      <a href="https://www.imperial.ac.uk/study/pg/medicine/genes-drugs-stem-cells/">MSc in Genes, Drugs and Stem
        cells</a>
    </div>
    <div>
      <h1 class="text-3x1 font-bold md:text-5x1"> The University of Toronto </h1>
      <p>2017 - 2021</p>
      <a href="https://artsci.calendar.utoronto.ca/section/Pharmacology-and-Toxicology">MSc in Genes, Drugs and Stem
        cells</a>
    </div>
    <div>
      <h1 class="text-3x1 font-bold md:text-5x1"> Google Certificate </h1>
      <p>2022</p>
      <a href="https://www.coursera.org/professional-certificates/google-data-analytics">Data Analytics</a>
    </div>
    <div>
      <h1 class="text-3x1 font-bold md:text-5x1"> MIT Professional Development </h1>
      <p>2024</p>
      <a href="">Applied Data Science</a>
    </div>

  </div>
</Layout>