---
import Layout from "@/layouts/Layout.astro";
const imagePath = "public/images/Personal/me.jpeg";
---

<Layout title="Blog">
  <div class="space-y-6">
    <div class="py-6">
      <h2 class="text-4xl font-semibold">About Me</h2>
      <img src={imagePath} alt="Orders per Cuisine" />
      <br />
      <p>
        Thanks for checking out my website! My name is Brian, I am a research
        based in Cambridge, Massachusetts. Using my academic background in
        regenerative therapy and pharmacology, I hope to contribute in the
        development of cool, life-changing therapeutics.
      </p>
      <br />
      <p>
        As a growing scientists, I've had the opportunity to work with many
        notable PI's and teams. I have worked in clinical research at the
        University of Toronto under Dr. Swardfager, as well as at the Francis
        Crick Institute with a focus on applying bioengineering principles for
        neuroscience research. Currently, I am working at Merck to develop
        high-throughput assays for drug discovery.
      </p>
      <br />
      <p>
        Beyond my professional and academic work, I made this website as an
        excuse to learn how to make a website, but also to showcase some of the
        projects I've done outside of my school/work.
      </p>
      <br />
      <p>Feel free to connect on any of the socials I have linked. :)</p>
    </div>
  </div>
</Layout>
