---
import Layout from "../../layouts/Layout.astro";
const imagePath = "/images/Personal/me.jpeg";
---

<Layout title="Blog">
  <h2 class="text-4xl font-semibold text-center">About Me</h2>
  <br>
  <div class="flex items-start space-x-6">
    <!-- Left: Image -->
    <div class="w-1/2">
      <img src={imagePath} alt="About Me Image" class="w-full rounded-md" />
    </div>

    <!-- Right: Text -->
    <div class="w-1/2 space-y-6">
      <p>
        Thanks for checking out my website! My name is Brian, I am a researcher
        based in Cambridge, Massachusetts. Using my academic background in
        regenerative therapy and pharmacology, I hope to contribute to the
        development of cool, life-changing therapeutics.
      </p>
      <p>
        As a growing scientist, I've had the opportunity to work with many
        notable PIs and teams. Currently, I am working at Merck to develop
        high-throughput assays for drug discovery.
      </p>
      <p>Feel free to connect on any of the socials I have linked. :)</p>
    </div>
  </div>
</Layout>
